main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 100000;
  border: 0px solid rgb(216, 19, 19);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: 0.5s;
  background: #f3f3f3;
}
.banner {
  position: relative;
  width: 82%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background: var(--background);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35); /* Neumorphism effect */
  transition: 1s;
}
.banner.active {
  width: 92%;
  transition: 1s;
  position: relative;
}
