header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 1000 !important;
  background: transparent;
}
header .sliderIcon {
  width: 50px;
  height: 50px;
}
.sliderIcon {
  font-size: 1.8rem;
  color: #000;
}
.userItem {
  display: inline-flex;
  gap: 1.7rem;
  align-items: center;
}

.userItem .avatar,
.darkMode {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;

  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}
.userItem .avatar a img {
  margin: auto;
}
.userItem .darkMode a img {
  margin: 6px;
}
/* .userItems a img {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
} */
