.sideMenu {
  width: 22%;
  height: 100%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.side-menu-logo {
  position: relative;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 7rem;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 10rem;
  margin-bottom: -3rem;
}

.logo h1 {
  font-family: "Caveat", cursive; /* Ensure you import this font */
  font-size: 2.25rem; /* Equivalent to text-4xl */
  margin-left: -2.5rem;

  align-items: center;
}

.sideMenu .sideNav {
  margin-top: 14rem;

  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.sideMenu .sideNav li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  transition: 0.5s;
  background: var(--bgColor);
  border-radius: 20px;
  padding: 10px 20px;
  width: 90%;
  transition: 0.5s;
}
.sideMenu .sideNav li a img {
  width: 2rem;
}
.sideMenu .sideNav li a:hover,
.sideMenu.sideNav li a.active {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.sideMenu .social {
  position: absolute;
  bottom: 60px;
  left: 55px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.8rem;

  margin: auto;
  transition: 0.5s;
}

.sideMenu .social li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  transition: 0.3s;
}

.sideMenu .social li a img {
  border: 2px solid transparent; /* Default border */
  border-radius: 25%;
  width: 2.5rem;
  padding: 2px; /* Padding to make the image appear larger */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.sideMenu .social li a img:hover {
  border-color: rgba(255, 255, 255, 0.5); /* Visible border on hover */
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transform: scale(1.1); /* Slight zoom effect */
}

/* Side Menu active */
.sideMenu.active {
  width: 7%;
  transition: 1s;
  overflow: hidden;
  align-items: center;
}
.sideMenu.active .logo {
  left: 1.7rem;
  transition: 1s;
}
.sideMenu.active .logo img {
  width: 8.8rem;
}
.sideMenu.active .brandName {
  display: none;
}
.sideMenu.active .navName {
  display: none;
}
.sideMenu.active .sideNav {
  gap: 1.5rem;
  font-size: 2rem;
  margin-top: 10rem;
}
.sideMenu.active .sideNav li {
  margin-left: -1rem;
}
.sideMenu.active .sideNav li a img {
  width: 2.3rem;
}

.sideMenu.active .social {
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: -0.5rem;
  bottom: 35px;
}
.sideMenu.active .social li a img {
  width: 2.2rem;
}
